In [50]:
#libraries needed
import pandas as pd
import numpy as np
import re

In [51]:
#reading the csv file
df = pd.read_csv('hdfc_transactions_sample.csv')
df

,Date,Description,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance
0,02/04/22,UPI-RAHUL GUPTA-RAHULGUPTAGGNHR@OKSBI-SBIN002...,2.09201E+11,01/04/22,NaN,1880.0,5200.59
1,02/04/22,UPI-RAJNEESH KUMAR GUPTA-@YBL-AIRP0000001-2092...,2.09205E+11,02/04/22,518.00,NaN,4682.59
2,05/04/22,POS REF 541919******3456-04/05 YOUTUBE,0,05/04/22,NaN,20.0,22.59
3,08/04/22,CASH DEP SELF SECTOR -,0,08/04/22,NaN,70000.0,70022.59
4,08/04/22,IB BILLPAY DR-HDFC92-4355XXXXXX,IB08151033070901,08/04/22,69063.00,NaN,959.59
5,02/05/22,UPI-BHAWNA JAYANT-@PAYTM-PYTM0123456-212217325...,2.12217E+11,02/05/22,NaN,120.0,538.16
6,02/05/22,UPI-HARENDRA KUMAR SHARM-@PAYTM-ICIC0000358-21...,2.12279E+11,02/05/22,NaN,300.0,838.16
7,27/05/22,UPI-DUNZO DIGITAL PRIVAT-DUNZODIGITAL.PAYU@ICI...,2.14717E+11,27/05/22,440.00,NaN,503.93
8,27/05/22,UPI-DUNZO DIGITAL PRIVAT-DUNZODIGITAL.PAYU@ICI...,2.14716E+11,27/05/22,440.00,NaN,63.93
9,28/05/22,AMB CHRG INCL GST FOR FEB2022-MIR2314574648464,MIR2314574648464,28/05/22,63.93,NaN,0.00
10,11/06/22,UPI-AVDESH KUMAR GUPTA-8802969765@YBL-BARB0SEC...,0000216291073301,11/06/22,NaN,1500.0,1868.66
11,27/06/22,UPI-DOTPE PRIVATE LIMITE-DOTPE.PAYU@ICICI-ICIC...,2.17883E+11,27/06/22,268.80,NaN,2203.22
12,27/06/22,UPI-ADD MONEY TO WALLET-ADD-MONEY@PAYTM-PYTM01...,2.17879E+11,27/06/22,1084.00,NaN,1119.22
13,27/06/22,UPI-BRIJ BIHARI SINGLA-@PAYTM-HDFC0009038-2178...,2.1788E+11,27/06/22,NaN,6110.0,7229.22
14,26/07/22,UPI-APOLLO PHARMACY-PAYTM-@PAYTM-PYTM0123456-2...,2.20777E+11,26/07/22,752.50,NaN,4742.60
15,30/08/22,UPI-PAJA SALES CORPORA-@BARODAMPAY-BARB0SECGUR...,2.24203E+11,30/08/22,130.00,NaN,4401.00
16,15/10/22,UPI-CITY SURGICAL AND MA-@PAYTM-PYTM0123456-22...,2.28801E+11,15/10/22,600.00,NaN,7849.26
17,15/10/22,IMPS--CASHFREE PAYMENTS IN-YESB-XXXXXXXXXXX006...,2.28811E+11,15/10/22,NaN,71000.0,78849.26
18,21/10/22,"NEFT DR--RAHUL GUPTA ACCOUNT-NETBANK, MUM-N29...",N294222176190959,21/10/22,4400.00,NaN,60016.26
19,21/10/22,UPI-BILLDESKTEZ-BILLDESK.ELECTRICITY@ICICI-ICI...,2.29492E+11,21/10/22,19779.00,NaN,40237.26
20,21/10/22,UPI-BILLDESKTEZ-BILLDESK.MUNICIPAL-CORP@ICICI-...,2.29492E+11,21/10/22,2907.00,NaN,37330.26

## CLEANING DATA

In [52]:
#replacing the NAN or NULL values
df.fillna(0,inplace=True)

In [53]:
df

,Date,Description,Chq./Ref.No.,Value Dt,Withdrawal Amt.,Deposit Amt.,Closing Balance
0,02/04/22,UPI-RAHUL GUPTA-RAHULGUPTAGGNHR@OKSBI-SBIN002...,2.09201E+11,01/04/22,0.00,1880.0,5200.59
1,02/04/22,UPI-RAJNEESH KUMAR GUPTA-@YBL-AIRP0000001-2092...,2.09205E+11,02/04/22,518.00,0.0,4682.59
2,05/04/22,POS REF 541919******3456-04/05 YOUTUBE,0,05/04/22,0.00,20.0,22.59
3,08/04/22,CASH DEP SELF SECTOR -,0,08/04/22,0.00,70000.0,70022.59
4,08/04/22,IB BILLPAY DR-HDFC92-4355XXXXXX,IB08151033070901,08/04/22,69063.00,0.0,959.59
5,02/05/22,UPI-BHAWNA JAYANT-@PAYTM-PYTM0123456-212217325...,2.12217E+11,02/05/22,0.00,120.0,538.16
6,02/05/22,UPI-HARENDRA KUMAR SHARM-@PAYTM-ICIC0000358-21...,2.12279E+11,02/05/22,0.00,300.0,838.16
7,27/05/22,UPI-DUNZO DIGITAL PRIVAT-DUNZODIGITAL.PAYU@ICI...,2.14717E+11,27/05/22,440.00,0.0,503.93
8,27/05/22,UPI-DUNZO DIGITAL PRIVAT-DUNZODIGITAL.PAYU@ICI...,2.14716E+11,27/05/22,440.00,0.0,63.93
9,28/05/22,AMB CHRG INCL GST FOR FEB2022-MIR2314574648464,MIR2314574648464,28/05/22,63.93,0.0,0.00
10,11/06/22,UPI-AVDESH KUMAR GUPTA-8802969765@YBL-BARB0SEC...,0000216291073301,11/06/22,0.00,1500.0,1868.66
11,27/06/22,UPI-DOTPE PRIVATE LIMITE-DOTPE.PAYU@ICICI-ICIC...,2.17883E+11,27/06/22,268.80,0.0,2203.22
12,27/06/22,UPI-ADD MONEY TO WALLET-ADD-MONEY@PAYTM-PYTM01...,2.17879E+11,27/06/22,1084.00,0.0,1119.22
13,27/06/22,UPI-BRIJ BIHARI SINGLA-@PAYTM-HDFC0009038-2178...,2.1788E+11,27/06/22,0.00,6110.0,7229.22
14,26/07/22,UPI-APOLLO PHARMACY-PAYTM-@PAYTM-PYTM0123456-2...,2.20777E+11,26/07/22,752.50,0.0,4742.60
15,30/08/22,UPI-PAJA SALES CORPORA-@BARODAMPAY-BARB0SECGUR...,2.24203E+11,30/08/22,130.00,0.0,4401.00
16,15/10/22,UPI-CITY SURGICAL AND MA-@PAYTM-PYTM0123456-22...,2.28801E+11,15/10/22,600.00,0.0,7849.26
17,15/10/22,IMPS--CASHFREE PAYMENTS IN-YESB-XXXXXXXXXXX006...,2.28811E+11,15/10/22,0.00,71000.0,78849.26
18,21/10/22,"NEFT DR--RAHUL GUPTA ACCOUNT-NETBANK, MUM-N29...",N294222176190959,21/10/22,4400.00,0.0,60016.26
19,21/10/22,UPI-BILLDESKTEZ-BILLDESK.ELECTRICITY@ICICI-ICI...,2.29492E+11,21/10/22,19779.00,0.0,40237.26
20,21/10/22,UPI-BILLDESKTEZ-BILLDESK.MUNICIPAL-CORP@ICICI-...,2.29492E+11,21/10/22,2907.00,0.0,37330.26

In [54]:
#creeating a copy of dataset in case I encounter some mistakes
df1 = df.copy()

In [55]:
df1.columns

Index(['Date', 'Description', 'Chq./Ref.No.', 'Value Dt', 'Withdrawal Amt.',
       'Deposit Amt.', 'Closing Balance'],
      dtype='object')

In [56]:
#renaming the columns according to need

In [57]:
df1.rename({'Chq./Ref.No.':'Ref'},axis = 1, inplace=True)

In [58]:
df1.rename({'Withdrawal Amt.':'Debit'},axis = 1, inplace=True)

In [59]:
df1.rename({'Deposit Amt.':'Credit'},axis = 1, inplace=True)

In [60]:
df1.head(20)

,Date,Description,Ref,Value Dt,Debit,Credit,Closing Balance
0,02/04/22,UPI-RAHUL GUPTA-RAHULGUPTAGGNHR@OKSBI-SBIN002...,2.09201E+11,01/04/22,0.00,1880.0,5200.59
1,02/04/22,UPI-RAJNEESH KUMAR GUPTA-@YBL-AIRP0000001-2092...,2.09205E+11,02/04/22,518.00,0.0,4682.59
2,05/04/22,POS REF 541919******3456-04/05 YOUTUBE,0,05/04/22,0.00,20.0,22.59
3,08/04/22,CASH DEP SELF SECTOR -,0,08/04/22,0.00,70000.0,70022.59
4,08/04/22,IB BILLPAY DR-HDFC92-4355XXXXXX,IB08151033070901,08/04/22,69063.00,0.0,959.59
5,02/05/22,UPI-BHAWNA JAYANT-@PAYTM-PYTM0123456-212217325...,2.12217E+11,02/05/22,0.00,120.0,538.16
6,02/05/22,UPI-HARENDRA KUMAR SHARM-@PAYTM-ICIC0000358-21...,2.12279E+11,02/05/22,0.00,300.0,838.16
7,27/05/22,UPI-DUNZO DIGITAL PRIVAT-DUNZODIGITAL.PAYU@ICI...,2.14717E+11,27/05/22,440.00,0.0,503.93
8,27/05/22,UPI-DUNZO DIGITAL PRIVAT-DUNZODIGITAL.PAYU@ICI...,2.14716E+11,27/05/22,440.00,0.0,63.93
9,28/05/22,AMB CHRG INCL GST FOR FEB2022-MIR2314574648464,MIR2314574648464,28/05/22,63.93,0.0,0.00
10,11/06/22,UPI-AVDESH KUMAR GUPTA-8802969765@YBL-BARB0SEC...,0000216291073301,11/06/22,0.00,1500.0,1868.66
11,27/06/22,UPI-DOTPE PRIVATE LIMITE-DOTPE.PAYU@ICICI-ICIC...,2.17883E+11,27/06/22,268.80,0.0,2203.22
12,27/06/22,UPI-ADD MONEY TO WALLET-ADD-MONEY@PAYTM-PYTM01...,2.17879E+11,27/06/22,1084.00,0.0,1119.22
13,27/06/22,UPI-BRIJ BIHARI SINGLA-@PAYTM-HDFC0009038-2178...,2.1788E+11,27/06/22,0.00,6110.0,7229.22
14,26/07/22,UPI-APOLLO PHARMACY-PAYTM-@PAYTM-PYTM0123456-2...,2.20777E+11,26/07/22,752.50,0.0,4742.60
15,30/08/22,UPI-PAJA SALES CORPORA-@BARODAMPAY-BARB0SECGUR...,2.24203E+11,30/08/22,130.00,0.0,4401.00
16,15/10/22,UPI-CITY SURGICAL AND MA-@PAYTM-PYTM0123456-22...,2.28801E+11,15/10/22,600.00,0.0,7849.26
17,15/10/22,IMPS--CASHFREE PAYMENTS IN-YESB-XXXXXXXXXXX006...,2.28811E+11,15/10/22,0.00,71000.0,78849.26
18,21/10/22,"NEFT DR--RAHUL GUPTA ACCOUNT-NETBANK, MUM-N29...",N294222176190959,21/10/22,4400.00,0.0,60016.26
19,21/10/22,UPI-BILLDESKTEZ-BILLDESK.ELECTRICITY@ICICI-ICI...,2.29492E+11,21/10/22,19779.00,0.0,40237.26

In [61]:
df1.dtypes

Date                object
Description         object
Ref                 object
Value Dt            object
Debit              float64
Credit             float64
Closing Balance    float64
dtype: object

In [62]:
#here i will use the column "Ref" to identify the transactions as DEBIT & CREDIT
df1[["Ref","Debit"]][df1["Debit"] > 0]

                 Ref     Debit
1        2.09205E+11    518.00
4   IB08151033070901  69063.00
7        2.14717E+11    440.00
8        2.14716E+11    440.00
9   MIR2314574648464     63.93
11       2.17883E+11    268.80
12       2.17879E+11   1084.00
14       2.20777E+11    752.50
15       2.24203E+11    130.00
16       2.28801E+11    600.00
18  N294222176190959   4400.00
19       2.29492E+11  19779.00
20       2.29492E+11   2907.00

In [63]:
df1[["Ref","Debit"]][df1["Debit"] > 0].index

Int64Index([1, 4, 7, 8, 9, 11, 12, 14, 15, 16, 18, 19, 20], dtype='int64')

In [64]:
lstDB = list(df1[["Ref","Debit"]][df1["Debit"] > 0].index)

In [65]:
#transactions having Ref ID as "TO" are DEBITED transactions
for i in lstDB:
    df1["Ref"].iloc[i] = "TO"

/Users/parakhsinghal/miniforge3/envs/apple_tensorflow/lib/python3.8/site-packages/pandas-1.3.0.dev0+1800.ga8b313f80e-py3.8-macosx-11.0-arm64.egg/pandas/core/indexing.py:1679: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [66]:
df1

,Date,Description,Ref,Value Dt,Debit,Credit,Closing Balance
0,02/04/22,UPI-RAHUL GUPTA-RAHULGUPTAGGNHR@OKSBI-SBIN002...,2.09201E+11,01/04/22,0.00,1880.0,5200.59
1,02/04/22,UPI-RAJNEESH KUMAR GUPTA-@YBL-AIRP0000001-2092...,TO,02/04/22,518.00,0.0,4682.59
2,05/04/22,POS REF 541919******3456-04/05 YOUTUBE,0,05/04/22,0.00,20.0,22.59
3,08/04/22,CASH DEP SELF SECTOR -,0,08/04/22,0.00,70000.0,70022.59
4,08/04/22,IB BILLPAY DR-HDFC92-4355XXXXXX,TO,08/04/22,69063.00,0.0,959.59
5,02/05/22,UPI-BHAWNA JAYANT-@PAYTM-PYTM0123456-212217325...,2.12217E+11,02/05/22,0.00,120.0,538.16
6,02/05/22,UPI-HARENDRA KUMAR SHARM-@PAYTM-ICIC0000358-21...,2.12279E+11,02/05/22,0.00,300.0,838.16
7,27/05/22,UPI-DUNZO DIGITAL PRIVAT-DUNZODIGITAL.PAYU@ICI...,TO,27/05/22,440.00,0.0,503.93
8,27/05/22,UPI-DUNZO DIGITAL PRIVAT-DUNZODIGITAL.PAYU@ICI...,TO,27/05/22,440.00,0.0,63.93
9,28/05/22,AMB CHRG INCL GST FOR FEB2022-MIR2314574648464,TO,28/05/22,63.93,0.0,0.00
10,11/06/22,UPI-AVDESH KUMAR GUPTA-8802969765@YBL-BARB0SEC...,0000216291073301,11/06/22,0.00,1500.0,1868.66
11,27/06/22,UPI-DOTPE PRIVATE LIMITE-DOTPE.PAYU@ICICI-ICIC...,TO,27/06/22,268.80,0.0,2203.22
12,27/06/22,UPI-ADD MONEY TO WALLET-ADD-MONEY@PAYTM-PYTM01...,TO,27/06/22,1084.00,0.0,1119.22
13,27/06/22,UPI-BRIJ BIHARI SINGLA-@PAYTM-HDFC0009038-2178...,2.1788E+11,27/06/22,0.00,6110.0,7229.22
14,26/07/22,UPI-APOLLO PHARMACY-PAYTM-@PAYTM-PYTM0123456-2...,TO,26/07/22,752.50,0.0,4742.60
15,30/08/22,UPI-PAJA SALES CORPORA-@BARODAMPAY-BARB0SECGUR...,TO,30/08/22,130.00,0.0,4401.00
16,15/10/22,UPI-CITY SURGICAL AND MA-@PAYTM-PYTM0123456-22...,TO,15/10/22,600.00,0.0,7849.26
17,15/10/22,IMPS--CASHFREE PAYMENTS IN-YESB-XXXXXXXXXXX006...,2.28811E+11,15/10/22,0.00,71000.0,78849.26
18,21/10/22,"NEFT DR--RAHUL GUPTA ACCOUNT-NETBANK, MUM-N29...",TO,21/10/22,4400.00,0.0,60016.26
19,21/10/22,UPI-BILLDESKTEZ-BILLDESK.ELECTRICITY@ICICI-ICI...,TO,21/10/22,19779.00,0.0,40237.26
20,21/10/22,UPI-BILLDESKTEZ-BILLDESK.MUNICIPAL-CORP@ICICI-...,TO,21/10/22,2907.00,0.0,37330.26

In [67]:
df1[["Ref","Credit"]][df1["Credit"] > 0]

                 Ref   Credit
0        2.09201E+11   1880.0
2                  0     20.0
3                  0  70000.0
5        2.12217E+11    120.0
6        2.12279E+11    300.0
10  0000216291073301   1500.0
13        2.1788E+11   6110.0
17       2.28811E+11  71000.0

In [68]:
df1[["Ref","Credit"]][df1["Credit"] > 0].index

Int64Index([0, 2, 3, 5, 6, 10, 13, 17], dtype='int64')

In [69]:
lstCR = list(df1[["Ref","Credit"]][df1["Credit"] > 0].index)

In [70]:
#transactions having Ref ID "FROM" are CREDITED transactions
for i in lstCR:
    df1["Ref"].iloc[i] = "FROM"

/Users/parakhsinghal/miniforge3/envs/apple_tensorflow/lib/python3.8/site-packages/pandas-1.3.0.dev0+1800.ga8b313f80e-py3.8-macosx-11.0-arm64.egg/pandas/core/indexing.py:1679: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [71]:
df1

,Date,Description,Ref,Value Dt,Debit,Credit,Closing Balance
0,02/04/22,UPI-RAHUL GUPTA-RAHULGUPTAGGNHR@OKSBI-SBIN002...,FROM,01/04/22,0.00,1880.0,5200.59
1,02/04/22,UPI-RAJNEESH KUMAR GUPTA-@YBL-AIRP0000001-2092...,TO,02/04/22,518.00,0.0,4682.59
2,05/04/22,POS REF 541919******3456-04/05 YOUTUBE,FROM,05/04/22,0.00,20.0,22.59
3,08/04/22,CASH DEP SELF SECTOR -,FROM,08/04/22,0.00,70000.0,70022.59
4,08/04/22,IB BILLPAY DR-HDFC92-4355XXXXXX,TO,08/04/22,69063.00,0.0,959.59
5,02/05/22,UPI-BHAWNA JAYANT-@PAYTM-PYTM0123456-212217325...,FROM,02/05/22,0.00,120.0,538.16
6,02/05/22,UPI-HARENDRA KUMAR SHARM-@PAYTM-ICIC0000358-21...,FROM,02/05/22,0.00,300.0,838.16
7,27/05/22,UPI-DUNZO DIGITAL PRIVAT-DUNZODIGITAL.PAYU@ICI...,TO,27/05/22,440.00,0.0,503.93
8,27/05/22,UPI-DUNZO DIGITAL PRIVAT-DUNZODIGITAL.PAYU@ICI...,TO,27/05/22,440.00,0.0,63.93
9,28/05/22,AMB CHRG INCL GST FOR FEB2022-MIR2314574648464,TO,28/05/22,63.93,0.0,0.00
10,11/06/22,UPI-AVDESH KUMAR GUPTA-8802969765@YBL-BARB0SEC...,FROM,11/06/22,0.00,1500.0,1868.66
11,27/06/22,UPI-DOTPE PRIVATE LIMITE-DOTPE.PAYU@ICICI-ICIC...,TO,27/06/22,268.80,0.0,2203.22
12,27/06/22,UPI-ADD MONEY TO WALLET-ADD-MONEY@PAYTM-PYTM01...,TO,27/06/22,1084.00,0.0,1119.22
13,27/06/22,UPI-BRIJ BIHARI SINGLA-@PAYTM-HDFC0009038-2178...,FROM,27/06/22,0.00,6110.0,7229.22
14,26/07/22,UPI-APOLLO PHARMACY-PAYTM-@PAYTM-PYTM0123456-2...,TO,26/07/22,752.50,0.0,4742.60
15,30/08/22,UPI-PAJA SALES CORPORA-@BARODAMPAY-BARB0SECGUR...,TO,30/08/22,130.00,0.0,4401.00
16,15/10/22,UPI-CITY SURGICAL AND MA-@PAYTM-PYTM0123456-22...,TO,15/10/22,600.00,0.0,7849.26
17,15/10/22,IMPS--CASHFREE PAYMENTS IN-YESB-XXXXXXXXXXX006...,FROM,15/10/22,0.00,71000.0,78849.26
18,21/10/22,"NEFT DR--RAHUL GUPTA ACCOUNT-NETBANK, MUM-N29...",TO,21/10/22,4400.00,0.0,60016.26
19,21/10/22,UPI-BILLDESKTEZ-BILLDESK.ELECTRICITY@ICICI-ICI...,TO,21/10/22,19779.00,0.0,40237.26
20,21/10/22,UPI-BILLDESKTEZ-BILLDESK.MUNICIPAL-CORP@ICICI-...,TO,21/10/22,2907.00,0.0,37330.26

In [72]:
#checking if there is any row that may not have Ref ID 
df1[["Ref","Credit"]][(df1["Ref"] == 0) & (df1["Credit"] > 0)].index

Int64Index([], dtype='int64')

In [73]:
df1[["Ref","Credit"]][(~((df1["Ref"].str.contains("FROM")) | (df1["Ref"].str.contains("TO")))) & (df1["Credit"] > 0)]

Empty DataFrame
Columns: [Ref, Credit]
Index: []

In [74]:
df1[["Ref","Debit"]][(~((df1["Ref"].str.contains("FROM")) | (df1["Ref"].str.contains("TO")))) & (df1["Debit"] > 0)]

Empty DataFrame
Columns: [Ref, Debit]
Index: []

In [75]:
#removing stopping words from the description to use it for further labeling
displayN = df1["Description"]
displayN.head()

0    UPI-RAHUL  GUPTA-RAHULGUPTAGGNHR@OKSBI-SBIN002...
1    UPI-RAJNEESH KUMAR GUPTA-@YBL-AIRP0000001-2092...
2               POS REF 541919******3456-04/05 YOUTUBE
3                             CASH DEP SELF SECTOR  -
4                      IB BILLPAY DR-HDFC92-4355XXXXXX
Name: Description, dtype: object

In [76]:
lst = ["[0-9]",":","\n"]
for i in lst:
    displayN.replace(to_replace=f"{i}", value="", regex=True,inplace=True)
displayN.replace(to_replace=f"-", value=" ", regex=True,inplace=True)
displayN.replace(to_replace=f"/", value=" ", regex=True,inplace=True)
displayN.replace(to_replace=f"\*", value=" ", regex=True,inplace=True)
displayN.replace(to_replace=f"@", value=" ", regex=True,inplace=True)

In [77]:
displayN

0      UPI RAHUL  GUPTA RAHULGUPTAGGNHR OKSBI SBIN  UPI
1     UPI RAJNEESH KUMAR GUPTA  YBL AIRP  PAYMENT FR...
2                              POS REF          YOUTUBE
3                              CASH DEP SELF SECTOR
4                             IB BILLPAY DR HDFC XXXXXX
5                     UPI BHAWNA JAYANT  PAYTM PYTM  NA
6              UPI HARENDRA KUMAR SHARM  PAYTM ICIC  NA
7     UPI DUNZO DIGITAL PRIVAT DUNZODIGITAL.PAYU ICI...
8     UPI DUNZO DIGITAL PRIVAT DUNZODIGITAL.PAYU ICI...
9                         AMB CHRG INCL GST FOR FEB MIR
10    UPI AVDESH KUMAR GUPTA  YBL BARBSECGUR  PAYMEN...
11    UPI DOTPE PRIVATE LIMITE DOTPE.PAYU ICICI ICIC...
12    UPI ADD MONEY TO WALLET ADD MONEY PAYTM PYTM  ...
13               UPI BRIJ BIHARI SINGLA  PAYTM HDFC  NA
14    UPI APOLLO PHARMACY PAYTM  PAYTM PYTM  OIDAPOL...
15    UPI PAJA SALES CORPORA  BARODAMPAY BARBSECGUR ...
16            UPI CITY SURGICAL AND MA  PAYTM PYTM  OID
17    IMPS  CASHFREE PAYMENTS IN YESB XXXXXXXXXXX TR...
18    NEFT DR  RAHUL GUPTA  ACCOUNT NETBANK, MUM N L...
19    UPI BILLDESKTEZ BILLDESK.ELECTRICITY ICICI ICI...
20    UPI BILLDESKTEZ BILLDESK.MUNICIPAL CORP ICICI ...
Name: Description, dtype: object

In [78]:
#striping the description of empty spaces
cleanedSTR = displayN.astype({"Description":"string"})

for i in range(len(cleanedSTR)):
    x = cleanedSTR[i].split()
    for j in range(len(x)):
        x[j] = x[j].strip()
    cleanedSTR[i] = " ".join(x)
print(cleanedSTR)

0        UPI RAHUL GUPTA RAHULGUPTAGGNHR OKSBI SBIN UPI
1     UPI RAJNEESH KUMAR GUPTA YBL AIRP PAYMENT FROM...
2                                       POS REF YOUTUBE
3                                  CASH DEP SELF SECTOR
4                             IB BILLPAY DR HDFC XXXXXX
5                       UPI BHAWNA JAYANT PAYTM PYTM NA
6                UPI HARENDRA KUMAR SHARM PAYTM ICIC NA
7     UPI DUNZO DIGITAL PRIVAT DUNZODIGITAL.PAYU ICI...
8     UPI DUNZO DIGITAL PRIVAT DUNZODIGITAL.PAYU ICI...
9                         AMB CHRG INCL GST FOR FEB MIR
10    UPI AVDESH KUMAR GUPTA YBL BARBSECGUR PAYMENT ...
11    UPI DOTPE PRIVATE LIMITE DOTPE.PAYU ICICI ICIC...
12    UPI ADD MONEY TO WALLET ADD MONEY PAYTM PYTM O...
13                 UPI BRIJ BIHARI SINGLA PAYTM HDFC NA
14    UPI APOLLO PHARMACY PAYTM PAYTM PYTM OIDAPOLLO...
15    UPI PAJA SALES CORPORA BARODAMPAY BARBSECGUR V...
16              UPI CITY SURGICAL AND MA PAYTM PYTM OID
17    IMPS CASHFREE PAYMENTS IN YESB XXXXXXXXXXX TRA...
18    NEFT DR RAHUL GUPTA ACCOUNT NETBANK, MUM N LOA...
19    UPI BILLDESKTEZ BILLDESK.ELECTRICITY ICICI ICI...
20    UPI BILLDESKTEZ BILLDESK.MUNICIPAL CORP ICICI ...
Name: Description, dtype: string

## LABELLING THE DATA

In [79]:
#creating labels
labels = {"imps": "imps",  "rrn": "imps", "loan": "loan", "emi": "emi", "amazon": "shopping", 
          "flipkart": "shopping", "mutualfund": "invest", "wallet":"paytm","upi": "upi",
          "txn paytm": "paytm", "restaurant": "food", "paytm": "paytm", "pytm": "paytm",
          "atd": "atm", "atm": "atm", "net txn": "nettxn", "cash": "cash", "funds trf": "trf",
          "neft": "neft", "interest": "interest", "debit": "debit", "atw":"atm",
          "metro": "travel", "swiggy": "food", "faasos": "food", "zomato": "food", "ola": "travel",
          "refund": "refund", "cash deposit": "cash deposit", "cash cheque": "cash cheque",
          "charge": "bank_charges", "pca": "trf"}

In [80]:
#labelled data will be stored in this list
labelLST = []

In [81]:
#labelling the rows
for i in cleanedSTR:
    flag = 0
    for j in list(labels.keys()):
        if j in i.lower():
            labelLST.append(labels[j])
            flag = 1
            break
    if flag == 0:
        labelLST.append("miscellaneous")

In [82]:
#adding the labelled column to the dataframe
df1["label"] = pd.DataFrame(labelLST)

In [83]:
df1

,Date,Description,Ref,Value Dt,Debit,Credit,Closing Balance,label
0,02/04/22,UPI RAHUL GUPTA RAHULGUPTAGGNHR OKSBI SBIN UPI,FROM,01/04/22,0.00,1880.0,5200.59,upi
1,02/04/22,UPI RAJNEESH KUMAR GUPTA YBL AIRP PAYMENT FR...,TO,02/04/22,518.00,0.0,4682.59,upi
2,05/04/22,POS REF YOUTUBE,FROM,05/04/22,0.00,20.0,22.59,miscellaneous
3,08/04/22,CASH DEP SELF SECTOR,FROM,08/04/22,0.00,70000.0,70022.59,cash
4,08/04/22,IB BILLPAY DR HDFC XXXXXX,TO,08/04/22,69063.00,0.0,959.59,miscellaneous
5,02/05/22,UPI BHAWNA JAYANT PAYTM PYTM NA,FROM,02/05/22,0.00,120.0,538.16,upi
6,02/05/22,UPI HARENDRA KUMAR SHARM PAYTM ICIC NA,FROM,02/05/22,0.00,300.0,838.16,upi
7,27/05/22,UPI DUNZO DIGITAL PRIVAT DUNZODIGITAL.PAYU ICI...,TO,27/05/22,440.00,0.0,503.93,upi
8,27/05/22,UPI DUNZO DIGITAL PRIVAT DUNZODIGITAL.PAYU ICI...,TO,27/05/22,440.00,0.0,63.93,upi
9,28/05/22,AMB CHRG INCL GST FOR FEB MIR,TO,28/05/22,63.93,0.0,0.00,miscellaneous
10,11/06/22,UPI AVDESH KUMAR GUPTA YBL BARBSECGUR PAYMEN...,FROM,11/06/22,0.00,1500.0,1868.66,upi
11,27/06/22,UPI DOTPE PRIVATE LIMITE DOTPE.PAYU ICICI ICIC...,TO,27/06/22,268.80,0.0,2203.22,upi
12,27/06/22,UPI ADD MONEY TO WALLET ADD MONEY PAYTM PYTM ...,TO,27/06/22,1084.00,0.0,1119.22,paytm
13,27/06/22,UPI BRIJ BIHARI SINGLA PAYTM HDFC NA,FROM,27/06/22,0.00,6110.0,7229.22,upi
14,26/07/22,UPI APOLLO PHARMACY PAYTM PAYTM PYTM OIDAPOL...,TO,26/07/22,752.50,0.0,4742.60,upi
15,30/08/22,UPI PAJA SALES CORPORA BARODAMPAY BARBSECGUR ...,TO,30/08/22,130.00,0.0,4401.00,upi
16,15/10/22,UPI CITY SURGICAL AND MA PAYTM PYTM OID,TO,15/10/22,600.00,0.0,7849.26,upi
17,15/10/22,IMPS CASHFREE PAYMENTS IN YESB XXXXXXXXXXX TR...,FROM,15/10/22,0.00,71000.0,78849.26,imps
18,21/10/22,"NEFT DR RAHUL GUPTA ACCOUNT NETBANK, MUM N L...",TO,21/10/22,4400.00,0.0,60016.26,loan
19,21/10/22,UPI BILLDESKTEZ BILLDESK.ELECTRICITY ICICI ICI...,TO,21/10/22,19779.00,0.0,40237.26,upi
20,21/10/22,UPI BILLDESKTEZ BILLDESK.MUNICIPAL CORP ICICI ...,TO,21/10/22,2907.00,0.0,37330.26,upi

In [84]:
df1.label.unique()

array(['upi', 'miscellaneous', 'cash', 'paytm', 'imps', 'loan'],
      dtype=object)

In [85]:
#earlier most of the transactions were labelled as "upi"
#so i created a loop to give a proper labelling to the transactions and marking it with the proper names 
for i in range(len(df1)):
    if df1["label"].iloc[i] == "upi":
        try: 
            x = df1["Description"].iloc[i].split()[1]
            x += df1["Description"].iloc[i].split()[2]
        except IndexError:
            x = df1["Description"].iloc[i].split()[3]
        df1["label"].iloc[i] = x

/Users/parakhsinghal/miniforge3/envs/apple_tensorflow/lib/python3.8/site-packages/pandas-1.3.0.dev0+1800.ga8b313f80e-py3.8-macosx-11.0-arm64.egg/pandas/core/indexing.py:1679: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [86]:
#names of the people in upi transactions
df1["label"]

0                          RAHULGUPTA
1                       RAJNEESHKUMAR
2                       miscellaneous
3                                cash
4                       miscellaneous
5                        BHAWNAJAYANT
6                       HARENDRAKUMAR
7                        DUNZODIGITAL
8                        DUNZODIGITAL
9                       miscellaneous
10                        AVDESHKUMAR
11                       DOTPEPRIVATE
12                              paytm
13                         BRIJBIHARI
14                     APOLLOPHARMACY
15                          PAJASALES
16                       CITYSURGICAL
17                               imps
18                               loan
19    BILLDESKTEZBILLDESK.ELECTRICITY
20      BILLDESKTEZBILLDESK.MUNICIPAL
Name: label, dtype: object

In [87]:
df1["label"]=df1["label"].apply(str.lower)

In [88]:
txt = list(df1["label"])
txt

['rahulgupta',
 'rajneeshkumar',
 'miscellaneous',
 'cash',
 'miscellaneous',
 'bhawnajayant',
 'harendrakumar',
 'dunzodigital',
 'dunzodigital',
 'miscellaneous',
 'avdeshkumar',
 'dotpeprivate',
 'paytm',
 'brijbihari',
 'apollopharmacy',
 'pajasales',
 'citysurgical',
 'imps',
 'loan',
 'billdesktezbilldesk.electricity',
 'billdesktezbilldesk.municipal']

In [89]:
#furthermore labelling the names as family friends and other for better ITR filing
labels1 = {
    "rahulgupta":"family", "rajneeshkumar":"family",
    "avdeshkumar":"friends",
    "surajsingh":"friends"
}
lst = []

In [90]:
for i in txt:
    flag = 0
    for j in list(labels1.keys()):
        if j.lower() in i.lower():
            lst.append(labels1[j])
            flag = 1
            break
    if flag == 0:
        lst.append("others")

In [91]:
df1

,Date,Description,Ref,Value Dt,Debit,Credit,Closing Balance,label
0,02/04/22,UPI RAHUL GUPTA RAHULGUPTAGGNHR OKSBI SBIN UPI,FROM,01/04/22,0.00,1880.0,5200.59,rahulgupta
1,02/04/22,UPI RAJNEESH KUMAR GUPTA YBL AIRP PAYMENT FR...,TO,02/04/22,518.00,0.0,4682.59,rajneeshkumar
2,05/04/22,POS REF YOUTUBE,FROM,05/04/22,0.00,20.0,22.59,miscellaneous
3,08/04/22,CASH DEP SELF SECTOR,FROM,08/04/22,0.00,70000.0,70022.59,cash
4,08/04/22,IB BILLPAY DR HDFC XXXXXX,TO,08/04/22,69063.00,0.0,959.59,miscellaneous
5,02/05/22,UPI BHAWNA JAYANT PAYTM PYTM NA,FROM,02/05/22,0.00,120.0,538.16,bhawnajayant
6,02/05/22,UPI HARENDRA KUMAR SHARM PAYTM ICIC NA,FROM,02/05/22,0.00,300.0,838.16,harendrakumar
7,27/05/22,UPI DUNZO DIGITAL PRIVAT DUNZODIGITAL.PAYU ICI...,TO,27/05/22,440.00,0.0,503.93,dunzodigital
8,27/05/22,UPI DUNZO DIGITAL PRIVAT DUNZODIGITAL.PAYU ICI...,TO,27/05/22,440.00,0.0,63.93,dunzodigital
9,28/05/22,AMB CHRG INCL GST FOR FEB MIR,TO,28/05/22,63.93,0.0,0.00,miscellaneous
10,11/06/22,UPI AVDESH KUMAR GUPTA YBL BARBSECGUR PAYMEN...,FROM,11/06/22,0.00,1500.0,1868.66,avdeshkumar
11,27/06/22,UPI DOTPE PRIVATE LIMITE DOTPE.PAYU ICICI ICIC...,TO,27/06/22,268.80,0.0,2203.22,dotpeprivate
12,27/06/22,UPI ADD MONEY TO WALLET ADD MONEY PAYTM PYTM ...,TO,27/06/22,1084.00,0.0,1119.22,paytm
13,27/06/22,UPI BRIJ BIHARI SINGLA PAYTM HDFC NA,FROM,27/06/22,0.00,6110.0,7229.22,brijbihari
14,26/07/22,UPI APOLLO PHARMACY PAYTM PAYTM PYTM OIDAPOL...,TO,26/07/22,752.50,0.0,4742.60,apollopharmacy
15,30/08/22,UPI PAJA SALES CORPORA BARODAMPAY BARBSECGUR ...,TO,30/08/22,130.00,0.0,4401.00,pajasales
16,15/10/22,UPI CITY SURGICAL AND MA PAYTM PYTM OID,TO,15/10/22,600.00,0.0,7849.26,citysurgical
17,15/10/22,IMPS CASHFREE PAYMENTS IN YESB XXXXXXXXXXX TR...,FROM,15/10/22,0.00,71000.0,78849.26,imps
18,21/10/22,"NEFT DR RAHUL GUPTA ACCOUNT NETBANK, MUM N L...",TO,21/10/22,4400.00,0.0,60016.26,loan
19,21/10/22,UPI BILLDESKTEZ BILLDESK.ELECTRICITY ICICI ICI...,TO,21/10/22,19779.00,0.0,40237.26,billdesktezbilldesk.electricity
20,21/10/22,UPI BILLDESKTEZ BILLDESK.MUNICIPAL CORP ICICI ...,TO,21/10/22,2907.00,0.0,37330.26,billdesktezbilldesk.municipal

In [92]:
set(lst)

{'family', 'friends', 'others'}

In [93]:
df1["labelNew"] = pd.DataFrame(lst)

In [94]:
df1[df1.label == 'rajneeshkumar']

,Date,Description,Ref,Value Dt,Debit,Credit,Closing Balance,label,labelNew
1,02/04/22,UPI RAJNEESH KUMAR GUPTA YBL AIRP PAYMENT FR...,TO,02/04/22,518.0,0.0,4682.59,rajneeshkumar,family

In [95]:
df1.labelNew.unique()

array(['family', 'others', 'friends'], dtype=object)

## FINAL OUTPUT

In [96]:
df1

,Date,Description,Ref,Value Dt,Debit,Credit,Closing Balance,label,labelNew
0,02/04/22,UPI RAHUL GUPTA RAHULGUPTAGGNHR OKSBI SBIN UPI,FROM,01/04/22,0.00,1880.0,5200.59,rahulgupta,family
1,02/04/22,UPI RAJNEESH KUMAR GUPTA YBL AIRP PAYMENT FR...,TO,02/04/22,518.00,0.0,4682.59,rajneeshkumar,family
2,05/04/22,POS REF YOUTUBE,FROM,05/04/22,0.00,20.0,22.59,miscellaneous,others
3,08/04/22,CASH DEP SELF SECTOR,FROM,08/04/22,0.00,70000.0,70022.59,cash,others
4,08/04/22,IB BILLPAY DR HDFC XXXXXX,TO,08/04/22,69063.00,0.0,959.59,miscellaneous,others
5,02/05/22,UPI BHAWNA JAYANT PAYTM PYTM NA,FROM,02/05/22,0.00,120.0,538.16,bhawnajayant,others
6,02/05/22,UPI HARENDRA KUMAR SHARM PAYTM ICIC NA,FROM,02/05/22,0.00,300.0,838.16,harendrakumar,others
7,27/05/22,UPI DUNZO DIGITAL PRIVAT DUNZODIGITAL.PAYU ICI...,TO,27/05/22,440.00,0.0,503.93,dunzodigital,others
8,27/05/22,UPI DUNZO DIGITAL PRIVAT DUNZODIGITAL.PAYU ICI...,TO,27/05/22,440.00,0.0,63.93,dunzodigital,others
9,28/05/22,AMB CHRG INCL GST FOR FEB MIR,TO,28/05/22,63.93,0.0,0.00,miscellaneous,others
10,11/06/22,UPI AVDESH KUMAR GUPTA YBL BARBSECGUR PAYMEN...,FROM,11/06/22,0.00,1500.0,1868.66,avdeshkumar,friends
11,27/06/22,UPI DOTPE PRIVATE LIMITE DOTPE.PAYU ICICI ICIC...,TO,27/06/22,268.80,0.0,2203.22,dotpeprivate,others
12,27/06/22,UPI ADD MONEY TO WALLET ADD MONEY PAYTM PYTM ...,TO,27/06/22,1084.00,0.0,1119.22,paytm,others
13,27/06/22,UPI BRIJ BIHARI SINGLA PAYTM HDFC NA,FROM,27/06/22,0.00,6110.0,7229.22,brijbihari,others
14,26/07/22,UPI APOLLO PHARMACY PAYTM PAYTM PYTM OIDAPOL...,TO,26/07/22,752.50,0.0,4742.60,apollopharmacy,others
15,30/08/22,UPI PAJA SALES CORPORA BARODAMPAY BARBSECGUR ...,TO,30/08/22,130.00,0.0,4401.00,pajasales,others
16,15/10/22,UPI CITY SURGICAL AND MA PAYTM PYTM OID,TO,15/10/22,600.00,0.0,7849.26,citysurgical,others
17,15/10/22,IMPS CASHFREE PAYMENTS IN YESB XXXXXXXXXXX TR...,FROM,15/10/22,0.00,71000.0,78849.26,imps,others
18,21/10/22,"NEFT DR RAHUL GUPTA ACCOUNT NETBANK, MUM N L...",TO,21/10/22,4400.00,0.0,60016.26,loan,others
19,21/10/22,UPI BILLDESKTEZ BILLDESK.ELECTRICITY ICICI ICI...,TO,21/10/22,19779.00,0.0,40237.26,billdesktezbilldesk.electricity,others
20,21/10/22,UPI BILLDESKTEZ BILLDESK.MUNICIPAL CORP ICICI ...,TO,21/10/22,2907.00,0.0,37330.26,billdesktezbilldesk.municipal,others

In [97]:
#checking if I need to do futher labelling of IMPS transactions
#in my case there is not much need
df1["Description"][df1.label == "imps"].head(100)

17    IMPS  CASHFREE PAYMENTS IN YESB XXXXXXXXXXX TR...
Name: Description, dtype: object

In [98]:
#saving the file
df1.to_csv("hdfc_stmt.csv")